
<header class="text-white bg-green-800 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a routerLink='home'  class="mr-5 hover:text-gray-900 ">Home</a>
    </nav>
    <a routerLink='login'    class="inline-flex items-center bg-blue-700 text-white border-0 py-1 px-3 focus:outline-none hover:bg-black rounded text-base mt-4 md:mt-0">login
    </a>
  </div>
</header>
<div class="justify-center flex p-5">
<router-outlet ></router-outlet>
</div>

