

<a class="text-blue-500 hover:underline" routerLink='/desh'  >Back</a>
  <form [formGroup]="Addblogform" (ngSubmit)="Addfun()">
    <div class="flex flex-col items-center justify-center  mx-auto lg:py-0">
      <div class="w-full bg-white rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <p class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
            Add your New blogg
            </p>
          
            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900">
                title
              </label>
              <input required class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5" placeholder="title" id="title" type="title" formControlName="title">
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900">
                content
                </label>
                <textarea name=""class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"id=" content" formControlName="content" ></textarea>
                </div>  
                   <div>
                     <label class="block mb-2 text-sm font-medium text-gray-900">
                       summary
                      </label>
                     <textarea name="summary" placeholder="summary"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"id="summary" formControlName="summary"></textarea>
                    </div>
            <div class="flex items-start">
            </div>

            <button class="w-full bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  focus:ring-blue-800 text-white" type="submit" >
                Add new blog 
            </button>
    
        </div> 
      </div>
    </div>
  </form>
  